
    <div class="card shadow mb-4 mt-2">
        <div class="card-header py-3">
            <a href="/admin/booking" class="btn btn-warning"> Back</a>
          </div>
       
    
      <div class="card-body">
        <div class="row">
            <div class="col-md-4">
              <form action="/admin/userrole" method="POST" 
       
              > 
              
                  <div class="form-group" >
                    <h4>Tambahkan role <%= users.name %></h4>
                    
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Pilih Role</label>
                  <select class="form-select form-select-sm" aria-label=".form-select-sm example" class="form-control" id="roleId" name="roleId"  >
                    <option selected>Pilih Role</option>
                    <% for(let i=0; i < role_id.length; i++){ %>
                    <option value="<%= role_id[i].id %>"><%= role_id[i].role %></option>
                    <%  } %>  
                  </select>
                  </div>
                  <input   name="userId" id="userId" value="<%= users.id %>" type="hidden">
                  <div class="modal-footer">
                  
                    <button type="submit" class="btn btn-primary">Add</button>
                  </div>
                </form>
            </div>
            <div class="col-md-8">
                <div class="table-responsive">
                  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                        <th>Nomer</th>
                        <th>Role</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% for(let i=0; i < role.length; i++){ %>
                     <tr>
                      <td><%= i+1  %></td>
                      <td><%= role[i].rolex.role %></td>
                      <td>
                        <form action="/admin/userrole/<%= role[i].id  %>?_method=DELETE" method="POST">
                          <a 
                            href="javascript:void()" 
                            type="button" 
                            class="btn btn-warning btn-circle btn-sm button-update" 
                            data-id="<%= role[i].id %>" 
                            data-role="<%= role[i].role %>"
                          
                            >
                           
                              <i class="fas fa-edit"></i></a>
                              
                          <button type="submit" class="btn btn-danger btn-circle btn-sm "><i class="fas fa-trash"></i></button>
                        </form>

                     </tr>
                     <%  } %> 
                    </tbody>
                    
                  </table>
                </div>
            </div>
        </div>
      </div>
    </div>
  
